
<h1><%= @patient.name %><br></h1>
<ul>
  <% @patient.appointments.each do |appointment| %>
    <% @patient_doctor = @patient.doctors.find(appointment.doctor_id) %>
    <li><%= link_to @patient_doctor.name, doctor_path(@patient_doctor) %> - <%= appointment.appointment_datetime.strftime("%B %d, %Y at %k:%M") %></li><br>
  <% end %>
  </ul>
